body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.line{
    background-color: #117050;
    height: 10px;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.bar{
    background-color: #006341;
    width: 168px;
    height: 22px;
    
}
h1{
    font-size: 90px;
    line-height: 95px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    margin-bottom: 30px;
}
h2{
    font-size: 35px;
    line-height:47px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    margin: 20px 0;
}
.button{
    border: 2px solid #454545;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 3px;
    color: #454545;
    text-decoration: none;
}
.button:hover{
    color: #FFF;
    background-color: #454545;
}
.header_area{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.header_left img{
    width: 64px;
    height: 64px;
}
.header_right{
    display: flex;
    align-items: center;
}
.header_search form{
    display: flex;
}
.header_search input{
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 250px;
}
.header_search button{
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}
.header_search button img{
    width: 16px;
    height: 16px;
}
.header_menu{
    margin-left: 50px;
    cursor: pointer;
}
.header_menu img{
    width: 24px;
    height: 24px;
}
.banner{
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}
.banner_images{
    margin-top: 60px;
}
.banner_images img{
    width: 148px;
    height: 148px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-right: 40px;
}
.area1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area1_content{
    padding: 50px;
}
.area1_text{
    margin-bottom: 50px;
    line-height: 25px;
}
.area1_img1{
    background-image: url('../images/f2.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
}
.area1_img2{
    background-image: url('../images/f1.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.area1_quote{
    margin-bottom: 30px;
    font-style: italic;
}
.area2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area2_content{
    padding: 50px;
}
.area2_text{
    margin-bottom: 50px;
    line-height: 25px;
}
.area2_img1{
    background-image: url('../images/f3.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
}
.area2_img2{
    background-image: url('../images/f4.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.area3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area3_content{
    padding: 200px 80px;
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    background-position: left;
}
.area3_text{
    margin-bottom: 50px;
    line-height: 25px;
}
.area3_img1{
    background-image: url('../images/f5.jpg');
    background-size: cover;
    background-position: center;
}
.area4{
    display: grid;
    background-color: #E8E9EE;
    grid-template-columns: 470px 1fr;
}
.area4_content{
    padding: 150px 80px;
}
.area4_text{
    margin-bottom: 50px;
    line-height: 25px;
}
.area4_img1{
    background-image: url('../images/bg3.jpg');
    background-size: cover;
    background-position: left;
}
.area5{
    background-image: url('../images/bg4.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
}
footer{
    background-color: #333333;
    color: #FFF;
    padding:80px;
    text-align: center;
}

@media (min-width: 769px) and (max-width: 1140px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 768px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .area1{
        grid-template-columns: 3fr 2fr;
    }
    .area2{
        grid-template-columns: 2fr 3fr;
    }
    .area3{
        grid-template-columns: 3fr 2fr;
    }
}
@media (max-width: 425px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .header_menu{
        margin-left: 20px;
    }
    .header_search input{
        max-width: 80px;
    }
    h1{
        font-size: 50px;
        line-height: 50px;
    }
    h2{
        font-size: 25px;
        line-height: 30px;
    }
    .banner_images img{
        width: 70px;
        height: 70px;
        border: 3px solid #117050;
        border-radius: 50%;
        margin-right: 10px;
    }
    .area1, .area2, .area3, .area4{
        grid-template-columns: 1fr;
    }
    .area1_content, .area2_content, .area3_content, .area4_content{
        padding: 40px;
    }
    .area5{
        height: 200px;
    }
    footer{
        font-size: 12px;
        padding: 40px 20px;
    }

}   